.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  [class*='col-'] {
    width: 100% !important;
  }
}

.cursor {
  cursor: pointer !important;
}

.social-with-text {
  padding: 10px;
  /* width: 49%; */
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 6px;
}

.social-with-text:hover {
  color: white;
  opacity: 0.7;
}

.social-with-text > span {
  margin-left: 10px;
}

.round {
  border-radius: 50%;
}

.social-no-text {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 6px;
}
.social-no-text:hover {
  color: white;
  opacity: 0.7;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-slack {
  background: #3f0f3f;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-line {
  background: #00b900;
  color: white;
}

.fa-twitch {
  background: #6441a5;
  color: white;
}

.fa-vk {
  background: #4c75a3;
  color: white;
}

.fa-yandex {
  background: #ffcc00;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-discord {
  background: #007bb5;
  color: white;
}

.fa-wordpress {
  background: #21759b;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
